{% extends 'ponto/base.html' %}
{% load static %}
        {% block title %}Cadastro de Usuário{% endblock %}
    {% block conteudo %}
    <div class="cartao-login">

        <img src="{% static 'ponto/logo.png' %}" alt="Prime Tecnologia" class="logo-login">

        <h2>Cadastro de Usuário</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
        <p class="links-login">
            <a href="{% url 'login' %}">Já tem uma conta? Faça login aqui</a>
        </p>
    </div>
    {% endblock %}