<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Painel - Registro de Ponto</title>
    </head>

<body>

    <h1>
        Minha Equipe
    </h1>

    {% for usuario, registros in equipe %}
        {{usuario.get_full_name}}

        {% for registro in registros %}
            <ul>
                <li>
                    {{ registro.get_tipo_display }} - {{ registro.data_hora|time:"H:i" }}
                    <a href="{% url 'excluir_ponto' registro.id %}">Excluir</a>
                </li>
            </ul>
        {% empty %}
            <p>
                Nenhum ponto registrado hoje.
            </p>
        {% endfor %}
        <ul>
            <li>
        {{usuario.perfil.get_papel_display}}
            </li>
        </ul>
        
    {%endfor%}

    <a href="{% url 'painel' %}">Voltar</a>        

</body>
</html>