{%extends 'ponto/base_interna.html' %}
{% load static %}

{% block title %}
    Painel - Registro de Ponto
{% endblock %}

{% block conteudo %}
    Papel: {{ perfil.get_papel_display }}
    <form method="post" action="{% url 'bater_ponto' %}">
        {% csrf_token %}
        <button type="submit">Registrar Ponto</button>
    </form>

    {% for registro in registro_hoje %}
        <ul>
            <li>
                Registros: {{ registro.get_tipo_display }}
                {{ registro.data_hora|time:"H:i" }}
                <a href="{% url 'solicitar_exclusao' registro.id %}">Solicitar Exclusão de ponto</a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}