{% extends 'ponto/base.html' %}
{% load static %}
        {% block title %}Login - Registro de Ponto{% endblock %}
    {% block conteudo %}
    <div  class="cartao-login">

        <img src="{% static 'ponto/logo.png' %}" alt="Prime Tecnologia" class="logo-login">
        
        <h2>Entrar</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
        <p class="links-login">
            <a href="{% url 'cadastro_usuario' %}">Não tem uma conta? Cadastre-se aqui</a>
            <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
        </p>
    </div>
    {% endblock %}