{% extends 'ponto/base.html' %}
{% load static %}
    {% block title %}Reset de Senha{% endblock %}
    {% block conteudo %}
    <div class="cartao-login">
        <img src="{% static 'ponto/logo.png' %}" alt="Prime Tecnologia" class="logo-login">
        <h2>Reset de Senha</h2>

        {%if etapa == 'pedir' %}
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar e-mail de alteração de senha</button>
        </form>
        {% elif etapa == 'enviado' %}
            <p class="links-login">Um e-mail com instruções para resetar sua senha foi enviado.</p>
            <a href="{% url 'login' %}" class="botao">Fazer Login</a>
            
        {% elif etapa == 'nova_senha' %}
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Alterar Senha</button>
                </form>
            {% else %}
                <p class="links-login">O link de reset de senha é inválido ou expirou.
                <a href="{% url 'password_reset' %}">Solicitar novo link de reset</a>
                </p>
            {% endif %}
        {% elif etapa == 'concluido' %}
            <p class="links-login">Sua senha foi alterada com sucesso.</p>
            <a href="{% url 'login' %}" class="botao">Fazer Login</a>
            
        {% endif %}
    </div>
    {% endblock %}